body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
    margin:0;
    padding: 0;
    border: 0;
}


body {
    background: #ccc;
}

.header {
    height: 60px;
    width: 1000px;
    background: #ccc;
}

.container {
    border: 1px dashed;
    margin: 0 auto;
    width: 1000px;
    height: 680px;
}

.search-box {
    border: 1px solid;
    width: 400px;
    margin: 0 auto;
}

.search {
    height: 35px;
    width: 395px;
    font-size: 20px;
    background: #FFF;
    border: 1px double #DDD;
    border-radius: 5px;
    box-shadow: 0 0 5px #333;
    /* transition: 500ms all ease; */

}

/* .search:hover { */
/*     width: 400px; */
/* } */

.footer {
    height: 50px;
    width: 1000px;
    background: #ccc;
}
